.g13buttonmodal {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.g13buttonmodal:last-of-type {
    margin-top: 0px;
}

.g13buttonmodal:first-of-type {
    margin-top: 60px;
}

.g13buttonmodal-button {
    display: flex;
    flex-direction: row;
    background-color: #5f6161;
    border-radius: 20px;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    float: right;
}

.g13buttonmodal-button:hover {
    background-color: #009688;
}

.g13buttonmodal-label {
    font-family: helvetica;
    font-size: 1.2rem;
    color: #fefefe;
    font-weight: 250;
    margin: auto;
}