.g13classifications {
    display: flex;
    flex-direction: column;
    position: relative;
}

.g13classifications-body {
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
}

.g13classification {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    border: 1px solid #eee;
    width: 300px;
    height: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 3px 2px #ccc;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
    cursor: pointer;
}

.g13classification-selected {
    background-color: #e2fbf8;
    border: 1px solid #3db1a5;
    box-shadow: 2px 2px 3px 2px #3db1a5;
}

.g13classification-title-label {
    color: #3db1a5;
    font-size: 16px;
    font-weight: 500;
    margin: auto;
    text-transform: capitalize;
    text-align: center;
}