.g13icontitlebar {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-color: #3db1a5;
    margin-bottom: 10px;
}

.g13icontitlebar-logo {
    color: #fefefe;
    margin-right: 10px;
    font-size: 18px;
    padding: 10px;
}

.g13icontitlebar-title {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 10px;
    padding-left: 0px;
}

.g13icontitlebar-label {
    color: #fefefe;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}