/* Tiles */
.g13initiativetiles {
    display: flex;
    flex-direction: column;
    position: relative;
}

.g13initiativetiles-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
}

/* Tiles Pagination */
.g13initiativetiles-pagination-bar {
    display: flex;
    flex-direction: row;
}

.g13initiativetiles-pagination-bar-butons {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    float: right
}

.g13initiativetiles-pagination-bar-label {
    color: #aaa;
    font-size: 18px;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
}

.g13initiativetiles-pagination-bar-button {
    color: #aaa;
    font-size: 24px;
    font-weight: 600;
}


/* Tile */


.g13initiativetile {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    border: none;
    width: 450px;
    height: 350px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: none;
    border-radius: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
    cursor: pointer;
}

.g13initiativetile-title {
    display: flex;
    flex-direction: row;
    border-bottom: none;
}


.g13initiativetile-title-text {
    margin-bottom: 15px;
}

.g13initiativetile-title-text-label{
    color: #000;
    font-size: 18px;
    font-weight: 400;
    text-transform: none;
}

.g13initiativetile-label {
    display: flex;
    flex-direction: row;
}

.g13initiativetile-label-label {
    color: #3db1a5;
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
}

.g13initiativetile-body { 
    display: flex;
    flex-direction: column;
    position: relative;
}

.g13initiativetile-image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 10px;
    max-height: 250px;
}

.g13initiativetile-percent {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.g13initiativetile-percent-label {
    margin: auto;
    color: #fefefe;
    font-size: 16px;
}





