.g13radiodisplay {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.g13radiodisplayitem {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.g13radiodisplayitem-button{
    font-size: 20px;
}

.g13radiodisplayitem-active{
    color:  #3db1a5;
}

.g13radiodisplayitem-inactive{
    color: #999;
}

.g13radiodisplayitem-label {
    font-size: 20px;
    margin-left: 10px;
}

.g13radiodisplayitem-label-active{
    color:  #000;
}

.g13radiodisplayitem-label-inactive{
    color: #999;
}