

.g13scatterlinks {
    display: flex;
    flex-direction: row;
    position: relative;

}
.g13scatterlinks-body {
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
}

.g13scatterlink {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.g13scatterlink-label {
    font-size: 16px;
    color: #111;
    font-weight: 500;
    text-transform: uppercase;
    transition: all ease 0.3s;
}

.g13scatterlink-label:hover {
    color:  #3db1a5;
    /*font-size: 18px;*/
    font-weight: 600;
    cursor: pointer;
}

.g13scatterlinkseparator {
    display: flex;
    flex-direction: row;
    position: relative;
}

.g13scatterlinkseparator-label {
    font-size: 16px;
    color: #111;
    font-weight: 500;
    text-transform: uppercase;
    margin: auto;
}