
.g13tiles {
    display: flex;
    flex-direction: column;
    position: relative;
}

.g13tiles-body {
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.g13tile {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    border: 1px solid #eee;
    width: 45%;
    height: 350px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 3px 2px #ccc;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
}

.g13tile-title {
    display: flex;
    flex-direction: row;
    border-bottom: 4px solid #3db1a5;
}

.g13tile-title-icon {
    color: #3db1a5;
    margin-right: 10px;
    font-size: 18px;
}

.g13tile-title-text {

}

.g13tile-title-text-label{
    color: #3db1a5;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.g13tile-label {
    display: flex;
    flex-direction: row;
}

.g13tile-label-label {
    color: #3db1a5;
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
}

.g13tile-body { 
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
    flex-grow: 0;
}

.g13tile-body-show-more {
    color: #ccc;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
}

.g13tile-logo {
    display: flex;
    flex-grow: 1;
}

.g13tile-logo-img {
    height: 60px;
    margin-top: auto;
    margin-bottom: auto;
}

.g13tile-brand {
    display: flex;
    flex-grow: 0;
}

.g13tile-brand-label {
    color: #111;
    font-size: 24px;
    font-weight: 600;
    margin-left: 10px;
}

.g13tile-footer {
    border-top: 2px solid #ccc;
    height: 40px;
    display: flex;
}

.g13tile-footer-label {
    color: #ccc;
    font-size: 16px;
    font-weight: 600;
    margin: auto;
    cursor: pointer;
}


.g13tiles-pagination-bar {
    display: flex;
    flex-direction: row;
}

.g13tiles-pagination-bar-butons {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    float: right
}

.g13tiles-pagination-bar-label {
    color: #aaa;
    font-size: 18px;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
}

.g13tiles-pagination-bar-button {
    color: #aaa;
    font-size: 24px;
    font-weight: 600;
}



